# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

convex_hull/.venv/
convex_hull/__pycache__/

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# --- Virtuelle Umgebung ---
.venv/
env/
venv/

# --- IDE / Editor ---
.vscode/
.idea/
*.iml

# --- OS Dateien ---
.DS_Store
Thumbs.db

# --- Test / Logs ---
*.log
*.tmp
*.swp

# --- Jupyter / Notebooks (falls du welche nutzt) ---
.ipynb_checkpoints/

# --- Distribution / Build ---
dist/
build/
*.egg-info/

convex_hull/datasets/

convex_hull/algorithms/docs/